# path:       /home/klassiker/.local/share/repos/link-handler/.gitignore
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/link-handler
# date:       2020-08-31T17:28:45+0200


